body {
    background-color:antiquewhite;
    /*background: #277004 url(gr_bg.jpg) no-repeat center top;*/
    background-size:cover;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 18px;
    padding: 90px;
}

button {
    border-radius: 10px;
    background-color: #3b3b4f;
    border-color: white;
    color: white;
}

label{
    display: block;
    margin: 1rem;
    margin: 30px;
}

.conteiner {
    color: #ffff;
    width: 80%;
    background-color:#0a0a23;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;  
    border-radius: 10px;  
    min-width: 200px;
    max-width: 600px;
}